body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    font-family: Arial, sans-serif;
    color: #14092b;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.table {
    width: 100%;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
}

.table th {
    background-color: #884f8f;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #d3a6cc;
}

.table-striped tbody tr:hover {
    background-color: rgba(111, 166, 212, 0.2);
}

.btn {
    margin: 10px 0;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #6fa6d4 !important;
    border-color: #6fa6d4 !important;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.form-label {
    font-weight: bold;
    color: #14092b;
    margin-bottom: 5px;
}

input.form-control {
    border: 1px solid #6f4f8f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-warning {
    background-color: #6f4f8f;
    border-color: #6f4f8f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-warning:hover {
    background-color: rgba(111, 79, 143, 0.8);
}

.btn-danger {
    background-color: #6fa6d4;
    border-color: #6fa6d4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: rgba(111, 166, 212, 0.8);
}
